@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@font-face {
    font-family: twilight;
    src: url(fonts/october-twilight.regular.ttf);
  }

body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/619/064/original/seamless-doodle-pattern-with-orange-pumpkin-simple-silhouettes-blue-background-with-check-vector.jpg");
    background-size: 40%;
}
h1{
    font-family: twilight;
    text-align: center;
    font-size: 60px;
}


.wrapper {   
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.polaroid {
    background: #fff;
    padding: 1rem;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3); 
}
.item{
    max-width: 30%;
}
.polaroid > img {
    max-width: 100%;
    height: auto;
}
.caption {
    font-size: 2.5vw;
    text-align: center;
    line-height: 2em;
    font-family: 'Annie Use Your Telescope', cursive;
}
.item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.40s;
}
.item:nth-of-type(2n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}
.item:nth-of-type(2n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
}
.item:nth-of-type(2n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}
.item:nth-of-type(2n+2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
}
.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg);
    transition: all 0.40s;
}
.item:hover .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 60%;
    width: 60%;
    bottom: 0%;
    right: 10%;
    transition: all 0.35s;
}
